// * 定义常用的常量
// 使用 $ 定义变量
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sidebarWidth: 210px;
$hiddenSidebarWidth: 54px;
$sidebarDuration: 0.28s;

// ? 使用 :export 让 CSS 和 JS 共享变量，JS 通过 ESM 导入使用
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sidebarWidth;
  hiddenSidebarWidth: $hiddenSidebarWidth;
  sidebarDuration: $sidebarDuration;
}